:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%)
}

body {
    height: 100vh;
    background-color: var(--light-gray);
    font-family: 'Poppins', sans-serif;
    color: var(--dark-blue);
}

p {
    font-size: 0.9375rem;
    font-weight: 200
}

main {
    height: 100%
}

header {
    text-align: center;
    margin-top: 2rem
}

header p {
    max-width: 32rem;
    margin: 1rem auto
}

h1 {
    font-weight: 200;
}

.grid-container {
    display: grid;
    margin: 1rem auto;
}

.grid-card {
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 2px 37px -15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 37px -15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 37px -15px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width:22rem;
}

.grid-card img {
    position: absolute;
    bottom: 2rem;
    right: 2rem
}

.card-2 {
    border-top: .25rem solid var(--red)
}

.card-1 {
    border-top: .25rem solid var(--cyan)
}

.card-4 {
    border-top: .25rem solid var(--blue)
}

.card-3 {
    border-top: .25rem solid var(--orange)
}

@media screen and (max-width:64rem) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 18rem);
        max-width:50rem;
    }
}

@media screen and (min-width: 64rem) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 9rem);
        max-width: 70rem;
    }

    .card-2 {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .card-1 {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .card-4 {
        grid-column-start: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .card-3 {
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
}

@media screen and (max-width:42rem) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 18rem);
        width:90%;
        max-width:25rem
    }

    header h1 {
        font-size:1.5rem;
        padding:0 1rem
    }

    header p {
        padding:.5rem 3rem
    }
    p {
        font-size: 0.875rem;
    }
}